.footer {
    padding: 20px 10px;
    background: #303030;
    color: #fff;

    @media (max-width: $md4) {
        padding: 20px 10px;
    }


    // .footer__container

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: $md4) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__column {
        @media (max-width: $md4) {
            &:not(:first-child) {
                margin: 10px 0 0 0;
            }
        }
    }
}

.column {
    &__item {
        margin: 10px 0 0 0;
    }

}
