.offer {
    position: relative;
    padding: 50px 0;

    // .offer__text-block

    &__text-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media (max-width: $md3) {
            justify-content: center;
            flex-direction: column;
        }

    }

    // .offer__text-side

    &__text-side {
        max-width: 580px;

        @media (max-width: 784px) {
            max-width: 500px;
        }
    }

    // .offer__title

    &__title {
        font-weight: 800;
        font-size: 24px;
        letter-spacing: 1.5px;

        @media (max-width: $md3) {
            text-align: center;
        }
    }

    // .offer__text

    &__text {
        margin: 10px 0 0 0;
        font-size: 18px;
        letter-spacing: normal;

        @media (max-width: $md3) {
            text-align: center;
        }
    }

    &__button-side {
        margin: 0 0 0 10px;

        @media (max-width: $md3) {
            margin: 30px 0 0 0;
        }
    }

    // .offer__slider-block

    &__slider-block {
        margin: 40px 0 0 0;
    }

    // .offer__slider-block

    &__slider-block {
        display: flex;
        justify-content: space-between;
        @media (max-width: $md3) {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }
    }


    // .offer__slider-text-block-item

    &__slider-text-block-item {
        max-width: 350px;

        &:not(:first-child) {
            margin: 20px 0 0 0;
        }
    }

    // .offer__slider-title

    &__slider-title {
        font-weight: 800;
        font-size: 22px;
    }

    // .offer__slider-subtitle

    &__slider-subtitle {
        margin: 15px 0 0 0;
        font-size: 18px;
    }

    // .offer__slider

    &__slider {
        margin: 0 0 0 10px;
        max-width: 600px;
        max-height: 340px;
        overflow: hidden;
        display: flex;
        flex: 1 1 auto;
        background-color: transparent;
        align-items: center;
        justify-content: center;

        &-item {
            img {
                width: 100%;
                object-fit: cover;
                box-shadow: 0px 5px 13px 8px rgba(34, 60, 80, 0.19);
            }
        }


        @media (max-width: $md2) {
            max-width: 450px;
        }
    }

    // .offer__slider-navigation

    &__slider-navigation {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        margin: 50px 0 0 0;

        @media (max-width: $md3) {
            justify-content: center;
        }
    }

    // .offer__slider-prev-slide

    &__slider-prev-slide {
        display: flex;
        align-items: center;
    }

    // .offer__slider-counter

    &__slider-counter {
        font-size: 20px;
        margin: 0 5px;
        & .current-slide {
            font-weight: 800;
            font-size: 30px;
            @media (max-width: $md3) {
                font-size: 50px;
            }
            
        }

        @media (max-width: $md3) {
            font-size: 25px;
            margin: 0 10px;
        }

    }

    // .offer__slider-next-slide

    &__slider-next-slide, &__slider-prev-slide {
        display: flex;
        align-items: center;
        @media (max-width: $md3) {
            width: 70px;
            height: 70px;
    
            img {
                width: 100%;
            }
        }
    }

    &__slider-next-slide {
        position: relative;
        top: 3px;
    }

    &__slider-prev-slide {
    }

    &__slider-text-side {
        @media (max-width: $md3) {
            margin: 20px 0 0 0;
        }
    }


}