// Variables
@import '_variables';

//fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$defaultFont: 'Roboto';

//nullify
@import '_nullify';

body{
    color: #000;
    font-family: $defaultFont;
    &._lock{
        overflow: hidden;
    }
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    flex: 1 1 auto;
}

._btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    max-width: 190px;
    color: #000;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: -1px 4px 19px 10px rgba(34, 60, 80, 0.2);
    &:hover {
        box-shadow: 0px 5px 37px 11px rgba(34, 60, 80, 0.4);
    }
}

//mixins
@import '_mixins';

//burger
@import '_burger';

//popup
@import '_popup';

//header
@import '_header';

//main
@import '_main';

//footer
@import '_footer';

//sidepanel
@import '_sidepanel';

//slider
@import '_slider';